<html>
    <head>
        <title>Blog familia Pérez-Carrión</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog de la Familia Pérez-Carrión</a></h1>
        </div>

        <div>
            <p>publicado: jueves 10.11.2016, a la hora de mami poner la lavadora.</p>
            <h2><a href="">1er Post (Experimental)</a></h2>
            <p>En este post quiero probar que todo funciona como debe. La tontita de mi niña se reirá justo ahora.</p>
        </div>

        <div>
            <p>publicado: jueves 10.11.2016, después que mami puso la lavadora</p>
            <h2><a href="">2do Post (experimental)</a></h2>
            <p>Esta semana está siendo muy pacífica. Mi niñita se lo está comiendo todo y en tiempo. Ahora hace falta que se deje el pelo tranquilo sin hacerce nudos.</p>
        </div>
    </body>
</html>